
/* Visual info if the video was seen or not */
.ziggeoninjaforms_submitted_info {
    position: relative;
    margin-top: -50px;
    width: 40px;
    height: 40px;
    font-size: 38px;
    opacity: 0.6;
    color: gray;
    left: calc( 100% - 50px);
}